<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="index.html">Mars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/scrape">Scrape</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="header">
        <h3>{{mars_data.Header}}</h3>
        <p>{{mars_data.Paragraph}}</p>
    </div>

<div class="">
    {{(mars_data)}}
</div>
<div class="table">
<table>


    <thead>
        <tbody>
            <tr class="table-danger">
      <tr scope="row"></tr>
      <td class= "column-1">{{mars_data.Keys}}</td>
      <td class= "column-2">{{mars_data.Values}}</td>
    </tr>
        </tbody>
    </thead>
</table>
</div>
        {%for mar in mars_data.Hemisphere_Image_URLS%}
        <div class="imgs">
            <img src="{{mar.img_url}}" alt="mars hemisphere image">
            <p>{{mar.title}}</p>
        </div>
        {%endfor%}
        <script type="text/javascript">
            console.log(mars_data)
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
